<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Path to the directory containing hlstats.pl -->
    <add key="HLXCEPath" value="c:\hlxce" />
    <!-- Path to the perl binary -->
    <add key="PerlPath" value="c:\perl\bin" />
    
    
    <!-- Only modify the below if you know what you're doing -->
    <add key="DaemonCount" value="1" />
    <!-- If only one daemon, the below are ignored -->
	<!--
	  Port to start the first daemon on. Subsequent daemon will increment port by 1.
	  If you choose to enable the proxy, it will run on this port in hlstats.conf or the specified config
	  -->
    <add key="StartPort" value="27500" />
    <!-- Max Retry count per daemon -->
    <add key="RetryCount" value="3" />
	<!-- Start and monitor hlstats-proxy.pl as well?  yes/no -->
	<add key="StartProxy" value="no" />
	
	<!--  Priority to start the daemon instances with.
		  Allowed values are:
		  "Idle"
		  "BelowNormal"
		  "Normal"  (default)
		  "AboveNormal"
		  "High"
		  "RealTime"
		  -->
	<add key="Priority" value="Normal" />
	
	<!--
	  Email Settings:
	  
	  EmailNotificationLvl
	  0 - None
	  1 - Errors only
	  2 - Errors and warnings
	-->
	<add key="EmailNotificationLvl" value="0"/>
	<add key="EmailHost" value="mail.example.com"/>
	<add key="EmailPort" value="25"/>
	<add key="EmailTo" value="toaddress@example.com"/>
	<add key="EmailFrom" value="fromaddress@example.com"/>

	<!-- Leave blank if not required by email server -->
	<add key="EmailUsername" value=""/>
	<add key="EmailPassword" value=""/>
  </appSettings>
</configuration>