<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Path to the directory containing hlstats.pl -->
    <add key="HLXCEPath" value="c:\hlxce" />
    <!-- Path to the perl binary -->
    <add key="PerlPath" value="c:\perl\bin" />
    
    
    <!-- Only modify the below if you know what you're doing -->
    <add key="DaemonCount" value="1" />
    <!-- If only one daemon, the below are ignored -->
    <!-- Port to start the first daemon on. Subsequent daemon will increment port by 1 -->
    <add key="StartPort" value="27500" />
    <!-- Max Retry count per daemon -->
    <add key="RetryCount" value="3" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>